## Limpieza de datos de analisis de toxina paralizante en moluscos (TPM)

In [1]:
import pandas as pd
import numpy as np

In [ ]:
df_2022 = pd.read_excel("tablas_2022.xlsx")

df_2022 = df_2022.apply(lambda x: x.str.replace("\n", " ", regex=True) if x.dtype == "object" else x)

df_2022.head()

,Fecha,Zona_Clasificada,Producto,Tipo_de_Analisis,Fecha_Inoculacion,Resultado
0,2022-03-28,ARTF 001PUNTA PARANÁ,Mejillón de Banco,TPM,2022-04-04,NO APTO P/CONSUMO
1,2022-03-28,ARTF 002 BAJO BROWN,Cholga de Banco,TPM,2022-04-04,NO APTO P/CONSUMO
2,2022-03-28,ARTF 002 PUNTA LÁPIZ,Mejillón de Banco,TPM,2022-04-04,NO APTO P/CONSUMO
3,2022-03-28,ARTF 002 PASO GUARANÍ,Cholga de Banco,TPM,2022-04-04,NO APTO P/CONSUMO
4,2022-03-28,ARTF 002 BAHIA BROWN ENTRADA,Mejillón de Cultivo,TPM,2022-04-04,NO APTO P/CONSUMO

In [3]:
df_2022.Resultado.unique()

array(['NO APTO P/CONSUMO', 'MENOR A 800', 'MAYOR A 800'], dtype=object)

In [4]:
mapeo = {
    "NO APTO P/CONSUMO" : 2,
    "MENOR A 800": 1,
    "MAYOR A 800" : 2
    
}
df_2022['Resultado_cat'] = df_2022['Resultado'].map(mapeo)
print(df_2022.head(10))

       Fecha              Zona_Clasificada             Producto  \
0 2022-03-28          ARTF 001PUNTA PARANÁ    Mejillón de Banco
1 2022-03-28           ARTF 002 BAJO BROWN      Cholga de Banco
2 2022-03-28          ARTF 002 PUNTA LÁPIZ    Mejillón de Banco
3 2022-03-28         ARTF 002 PASO GUARANÍ      Cholga de Banco
4 2022-03-28  ARTF 002 BAHIA BROWN ENTRADA  Mejillón de Cultivo
5 2022-03-28    ARTF 002 BAHIA BROWN FONDO  Mejillón de Cultivo
6 2022-03-28         ZONA 003 BAHÍA VARELA    Mejillón de Banco
7 2022-04-04         ARTF 001 PUNTA PARANÁ    Mejillón de Banco
8 2022-04-04           ARTF 002 BAJO BROWN      Cholga de Banco
9 2022-04-04          ARTF 002 PUNTA LÁPIZ    Mejillón de Banco

  Tipo_de_Analisis Fecha_Inoculacion          Resultado  Resultado_cat
0              TPM        2022-04-04  NO APTO P/CONSUMO              2
1              TPM        2022-04-04  NO APTO P/CONSUMO              2
2              TPM        2022-04-04  NO APTO P/CONSUMO              2
3              TPM        2022-04-04  NO APTO P/CONSUMO              2
4              TPM        2022-04-04  NO APTO P/CONSUMO              2
5              TPM        2022-04-04  NO APTO P/CONSUMO              2
6              TPM        2022-04-04  NO APTO P/CONSUMO              2
7              TPM        2022-04-05  NO APTO P/CONSUMO              2
8              TPM        2022-04-05  NO APTO P/CONSUMO              2
9              TPM        2022-04-05  NO APTO P/CONSUMO              2

In [5]:
columnas_a_conservar = ["Fecha", "Zona_Clasificada", "Resultado_cat"]

df_relevantes_2022 = df_2022.copy()[columnas_a_conservar]
print(df_relevantes_2022.head())

       Fecha              Zona_Clasificada  Resultado_cat
0 2022-03-28          ARTF 001PUNTA PARANÁ              2
1 2022-03-28           ARTF 002 BAJO BROWN              2
2 2022-03-28          ARTF 002 PUNTA LÁPIZ              2
3 2022-03-28         ARTF 002 PASO GUARANÍ              2
4 2022-03-28  ARTF 002 BAHIA BROWN ENTRADA              2

In [6]:
zonas = df_relevantes_2022.Zona_Clasificada.unique()
for zona in zonas:
    print(F"La zona {np.where(zonas == zona)[0][0]} es: {zona}")

La zona 0 es: ARTF 001PUNTA PARANÁ
La zona 1 es: ARTF 002 BAJO BROWN
La zona 2 es: ARTF 002 PUNTA LÁPIZ
La zona 3 es: ARTF 002 PASO GUARANÍ
La zona 4 es: ARTF 002 BAHIA BROWN ENTRADA
La zona 5 es: ARTF 002 BAHIA BROWN FONDO
La zona 6 es: ZONA 003 BAHÍA VARELA
La zona 7 es: ARTF 001 PUNTA PARANÁ
La zona 8 es: ZONA 003 BAHIA VARELA
La zona 9 es: ARTF 001 PUNTA PARANA
La zona 10 es: ARTF 002 BAHÍA BROWN ENTRADA
La zona 11 es: ARTF 002 BAHÍA BROWN FONDO
La zona 12 es: MONITOREO ZONA NO CLASIFICADA BAHIA PACKEWAIA

In [7]:
df_relevantes_2022["Zona_Clasificada"] = df_relevantes_2022["Zona_Clasificada"].replace({zonas[0]: zonas[7], zonas[4]: zonas[10],zonas[5]: zonas[11],
                                                                   zonas[8]: zonas[6], zonas[9]: zonas[7]})

In [8]:
zonas = df_relevantes_2022.Zona_Clasificada.unique()
for zona in zonas:
    print(F"La zona {np.where(zonas == zona)[0][0]} es: {zona}")

La zona 0 es: ARTF 001 PUNTA PARANÁ
La zona 1 es: ARTF 002 BAJO BROWN
La zona 2 es: ARTF 002 PUNTA LÁPIZ
La zona 3 es: ARTF 002 PASO GUARANÍ
La zona 4 es: ARTF 002 BAHÍA BROWN ENTRADA
La zona 5 es: ARTF 002 BAHÍA BROWN FONDO
La zona 6 es: ZONA 003 BAHÍA VARELA
La zona 7 es: MONITOREO ZONA NO CLASIFICADA BAHIA PACKEWAIA

In [9]:
df_2023 = pd.read_excel("tablas_2023.xlsx")

# Reemplazar saltos de línea en todo el DataFrame
df_2023 = df_2023.apply(lambda x: x.str.replace("\n", " ", regex=True) if x.dtype == "object" else x)

df_2023.head()

,Fecha,Zona_Clasificada,Producto,Tipo_Analisis,Fecha_Inoculacion,Resultado
0,2023-01-02,ARTF 001 PUNTA PARANA,Mejillón de Banco,TPM,2023-01-03,MENOR A 800
1,2023-01-02,ARTF 002 BAHIA BROWN ENTRADA,Mejillón de Cultivo,TPM,2023-01-03,MENOR A 800
2,2023-01-02,ARTF 002 PASO GUARANÍ,Cholga de Banco,TPM,2023-01-03,MENOR A 800
3,2023-01-02,ARTF 002 PUNTA LÁPIZ,Mejillón de Banco,TPM,2023-01-03,MENOR A 800
4,2023-01-02,ARTF 002 BAHIA BROWN FONDO,Mejillón de Cultivo,TPM,2023-01-03,MENOR A 800

In [10]:
df_2023.Resultado.unique()

array(['MENOR A 800', 'NO APTO P/CONSUMO', 'N.D. (No Detectable)',
       'NO APTO', 'NO DETECTABLE', 'Menor a 800', 'N.D.'], dtype=object)

In [11]:
mapeo = {
    "MENOR A 800" : 1,
    "NO APTO P/CONSUMO": 2,
    "N.D. (No Detectable)" : 0,
    "NO APTO": 2,
    "NO DETECTABLE": 0,
    "Menor a 800" : 1,
    "N.D.": 0   
}
df_2023['Resultado_cat'] = df_2023['Resultado'].map(mapeo)
print(df_2022.head(10))

       Fecha              Zona_Clasificada             Producto  \
0 2022-03-28          ARTF 001PUNTA PARANÁ    Mejillón de Banco
1 2022-03-28           ARTF 002 BAJO BROWN      Cholga de Banco
2 2022-03-28          ARTF 002 PUNTA LÁPIZ    Mejillón de Banco
3 2022-03-28         ARTF 002 PASO GUARANÍ      Cholga de Banco
4 2022-03-28  ARTF 002 BAHIA BROWN ENTRADA  Mejillón de Cultivo
5 2022-03-28    ARTF 002 BAHIA BROWN FONDO  Mejillón de Cultivo
6 2022-03-28         ZONA 003 BAHÍA VARELA    Mejillón de Banco
7 2022-04-04         ARTF 001 PUNTA PARANÁ    Mejillón de Banco
8 2022-04-04           ARTF 002 BAJO BROWN      Cholga de Banco
9 2022-04-04          ARTF 002 PUNTA LÁPIZ    Mejillón de Banco

  Tipo_de_Analisis Fecha_Inoculacion          Resultado  Resultado_cat
0              TPM        2022-04-04  NO APTO P/CONSUMO              2
1              TPM        2022-04-04  NO APTO P/CONSUMO              2
2              TPM        2022-04-04  NO APTO P/CONSUMO              2
3              TPM        2022-04-04  NO APTO P/CONSUMO              2
4              TPM        2022-04-04  NO APTO P/CONSUMO              2
5              TPM        2022-04-04  NO APTO P/CONSUMO              2
6              TPM        2022-04-04  NO APTO P/CONSUMO              2
7              TPM        2022-04-05  NO APTO P/CONSUMO              2
8              TPM        2022-04-05  NO APTO P/CONSUMO              2
9              TPM        2022-04-05  NO APTO P/CONSUMO              2

In [12]:
df_relevantes_2023 = df_2023.copy()[columnas_a_conservar]
print(df_relevantes_2023.head())

       Fecha              Zona_Clasificada  Resultado_cat
0 2023-01-02         ARTF 001 PUNTA PARANA              1
1 2023-01-02  ARTF 002 BAHIA BROWN ENTRADA              1
2 2023-01-02         ARTF 002 PASO GUARANÍ              1
3 2023-01-02          ARTF 002 PUNTA LÁPIZ              1
4 2023-01-02    ARTF 002 BAHIA BROWN FONDO              1

In [13]:
zonas_2023 = df_relevantes_2023.Zona_Clasificada.unique()
for zona in zonas_2023:
    print(F"La zona {np.where(zonas_2023 == zona)[0][0]} es: {zona}")

La zona 0 es: ARTF 001 PUNTA PARANA
La zona 1 es: ARTF 002 BAHIA BROWN ENTRADA
La zona 2 es: ARTF 002 PASO GUARANÍ
La zona 3 es: ARTF 002 PUNTA LÁPIZ
La zona 4 es: ARTF 002 BAHIA BROWN FONDO
La zona 5 es: ARTF 002 BAJO BROWN
La zona 6 es: ARTF 002 PUNTA LAPIZ
La zona 7 es: ARTF 001 PUNTA PARANÁ
La zona 8 es: ISLA GABLE
La zona 9 es: ARTF 002 BAHÍA BROWN ENTRADA
La zona 10 es: ISLA GABLE Baliza Mackinlay
La zona 11 es: ISLA GABLE Punta Gable
La zona 12 es: ARTF 002 ISLA GABLE
La zona 13 es: ARTF 002 REFUGIO GABLE
La zona 14 es: ARTF 002 PASO GUARANI
La zona 15 es: Isla Gable (Baliza Mackinlay)
La zona 16 es: PASO GUARANI REFUGIO
La zona 17 es: ISLA GABLE P. MACKINLAY
La zona 18 es: ISLA GABLE BALIZA MACKINLAY
La zona 19 es: ARTF 002 BAHIA BROWN FONDO (Muestra Capa Superficial).
La zona 20 es: ARTF 002 BAHIA BROWN FONDO (Muestra Capa Intermedia).
La zona 21 es: ARTF 002 BAHIA BROWN FONDO (Muestra Capa Inferior).
La zona 22 es: MACKINLAY
La zona 23 es: ARTF 002 ISLA UPU
La zona 24 es: ARTF 001 ESTANCIA REMOLINO

In [14]:
df_relevantes_2023["Zona_Clasificada"] = df_relevantes_2023["Zona_Clasificada"].replace({
                                                                zonas_2023[0]: zonas[0], zonas_2023[1]: zonas[4],
                                                                zonas_2023[2]: zonas[3], zonas_2023[3]: zonas[2],
                                                                zonas_2023[4]: zonas[5], zonas_2023[5]: zonas[1],
                                                                zonas_2023[6]: zonas[2], zonas_2023[7]: zonas[0],
                                                                zonas_2023[8]: zonas_2023[12], zonas_2023[9]: zonas[4],
                                                                zonas_2023[10]: zonas_2023[12], zonas_2023[11]: zonas_2023[12],
                                                                zonas_2023[13]: zonas_2023[12], zonas_2023[14]: zonas[3],
                                                                zonas_2023[15]: zonas_2023[12], zonas_2023[17]: zonas_2023[12],
                                                                zonas_2023[18]: zonas_2023[12], zonas_2023[22]: zonas_2023[12]})

In [15]:
zonas_2023 = df_relevantes_2023.Zona_Clasificada.unique()
for zona in zonas_2023:
    print(F"La zona {np.where(zonas_2023 == zona)[0][0]} es: {zona}")

La zona 0 es: ARTF 001 PUNTA PARANÁ
La zona 1 es: ARTF 002 BAHÍA BROWN ENTRADA
La zona 2 es: ARTF 002 PASO GUARANÍ
La zona 3 es: ARTF 002 PUNTA LÁPIZ
La zona 4 es: ARTF 002 BAHÍA BROWN FONDO
La zona 5 es: ARTF 002 BAJO BROWN
La zona 6 es: ARTF 002 ISLA GABLE
La zona 7 es: PASO GUARANI REFUGIO
La zona 8 es: ARTF 002 BAHIA BROWN FONDO (Muestra Capa Superficial).
La zona 9 es: ARTF 002 BAHIA BROWN FONDO (Muestra Capa Intermedia).
La zona 10 es: ARTF 002 BAHIA BROWN FONDO (Muestra Capa Inferior).
La zona 11 es: ARTF 002 ISLA UPU
La zona 12 es: ARTF 001 ESTANCIA REMOLINO

In [16]:
conteo_2022 = df_relevantes_2022.Zona_Clasificada.value_counts()
conteo_2023 = df_relevantes_2023.Zona_Clasificada.value_counts()

print("Conteo 2022")
print(conteo_2022)
print("Conteo 2023")
print(conteo_2023)

Conteo 2022
ARTF 001 PUNTA PARANÁ                            34
ARTF 002 BAJO BROWN                              33
ARTF 002 PUNTA LÁPIZ                             33
ARTF 002 PASO GUARANÍ                            33
ARTF 002 BAHÍA BROWN ENTRADA                     33
ARTF 002 BAHÍA BROWN FONDO                       33
ZONA 003 BAHÍA VARELA                            16
MONITOREO ZONA NO CLASIFICADA BAHIA PACKEWAIA     2
Name: Zona_Clasificada, dtype: int64
Conteo 2023
ARTF 002 BAHÍA BROWN ENTRADA                              54
ARTF 002 PASO GUARANÍ                                     52
ARTF 002 BAHÍA BROWN FONDO                                51
ARTF 002 PUNTA LÁPIZ                                      48
ARTF 002 BAJO BROWN                                       48
ARTF 001 PUNTA PARANÁ                                     38
ARTF 002 ISLA GABLE                                       12
ARTF 002 BAHIA BROWN FONDO (Muestra Capa Superficial).     2
ARTF 002 BAHIA BROWN FONDO (Muestra Capa Intermedia).      2
ARTF 002 BAHIA BROWN FONDO (Muestra Capa Inferior).        2
PASO GUARANI REFUGIO                                       1
ARTF 002 ISLA UPU                                          1
ARTF 001 ESTANCIA REMOLINO                                 1
Name: Zona_Clasificada, dtype: int64

In [17]:
df_relevantes_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha             217 non-null    datetime64[ns]
 1   Zona_Clasificada  217 non-null    object
 2   Resultado_cat     217 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 5.2+ KB

In [28]:
zonas_interes = zonas[0:6]

df_filtrado_2022 = df_relevantes_2022[df_relevantes_2022["Zona_Clasificada"].isin(zonas_interes)]

df_filtrado_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199 entries, 0 to 216
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha             199 non-null    datetime64[ns]
 1   Zona_Clasificada  199 non-null    object
 2   Resultado_cat     199 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 6.2+ KB

In [ ]:
#for zona in zonas_interes:
# Crear una variable con nombre basado en el valor de 'zona'
#    zona_validada = zona.replace(" ", "_")
#    globals()[f"df_2022_{zona_validada}"] = df_filtrado_2022[df_filtrado_2022['Zona_Clasificada'] == zona]    
#     archivo = f"{zona_validada}.xlsx"
#     globals()[f"df_{zona_validada}"].to_excel(archivo, index=False)
        

#print(df_2022_ARTF_001_PUNTA_PARANÁ)

In [29]:
df_relevantes_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha             312 non-null    datetime64[ns]
 1   Zona_Clasificada  312 non-null    object
 2   Resultado_cat     312 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 7.4+ KB

In [30]:
valores= df_relevantes_2023.Zona_Clasificada.unique()

for valor in valores:
    print(valor in zonas_interes)

True
True
True
True
True
True
False
False
False
False
False
False
False

In [31]:
df_relevantes_2023.Zona_Clasificada.value_counts()

ARTF 002 BAHÍA BROWN ENTRADA                              54
ARTF 002 PASO GUARANÍ                                     52
ARTF 002 BAHÍA BROWN FONDO                                51
ARTF 002 PUNTA LÁPIZ                                      48
ARTF 002 BAJO BROWN                                       48
ARTF 001 PUNTA PARANÁ                                     38
ARTF 002 ISLA GABLE                                       12
ARTF 002 BAHIA BROWN FONDO (Muestra Capa Superficial).     2
ARTF 002 BAHIA BROWN FONDO (Muestra Capa Intermedia).      2
ARTF 002 BAHIA BROWN FONDO (Muestra Capa Inferior).        2
PASO GUARANI REFUGIO                                       1
ARTF 002 ISLA UPU                                          1
ARTF 001 ESTANCIA REMOLINO                                 1
Name: Zona_Clasificada, dtype: int64

In [32]:
df_filtrado_2023 = df_relevantes_2023[df_relevantes_2023["Zona_Clasificada"].isin(zonas_interes)]

df_filtrado_2023.Zona_Clasificada.value_counts()

ARTF 002 BAHÍA BROWN ENTRADA    54
ARTF 002 PASO GUARANÍ           52
ARTF 002 BAHÍA BROWN FONDO      51
ARTF 002 PUNTA LÁPIZ            48
ARTF 002 BAJO BROWN             48
ARTF 001 PUNTA PARANÁ           38
Name: Zona_Clasificada, dtype: int64

In [33]:
df_filtrado_2023.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 291 entries, 0 to 311
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha             291 non-null    datetime64[ns]
 1   Zona_Clasificada  291 non-null    object
 2   Resultado_cat     291 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 9.1+ KB

In [34]:
df_2024 = pd.read_excel("tablas_2024.xlsx")

# Reemplazar saltos de línea en todo el DataFrame
df_2024 = df_2024.apply(lambda x: x.str.replace("\n", " ", regex=True) if x.dtype == "object" else x)

df_2024.head()

,Fecha,Zona_Clasificada,Producto,Tipo_de_Analisis,Fecha_Inoculacion,Resultado
0,2024-01-03,ARTF 001 PUNTA PARANA,Mejillón de Banco,TPM,04/01/2024,N.D. (No Detectable)
1,2024-01-03,ARTF 002 BAHIA BROWN ENTRADA,Mejillón de Cultivo,TPM,04/01/2024,MENOR A 800
2,2024-01-03,ARTF 002 PASO GUARANI,Cholga de Banco,TPM,04/01/2024,MENOR A 800
3,2024-01-03,ARTF 002 PUNTA LAPIZ,Mejillón de Banco,TPM,04/01/2024,N.D. (No Detectable)
4,2024-01-03,ARTF 002 BAHIA BROWN FONDO,Mejillón de Cultivo,TPM,04/01/2024,MENOR A 800

In [35]:
df_2024.Resultado.unique()

array(['N.D. (No Detectable)', 'MENOR A 800', 'N.D. (NO DETECTABLE)'],
      dtype=object)

In [36]:
mapeo = {
    "N.D. (No Detectable)" : 0,
    "N.D. (NO DETECTABLE)": 0,
    "MENOR A 800" : 1
    
}
df_2024['Resultado_cat'] = df_2024['Resultado'].map(mapeo)
print(df_2024.head(10))

       Fecha              Zona_Clasificada             Producto  \
0 2024-01-03         ARTF 001 PUNTA PARANA    Mejillón de Banco
1 2024-01-03  ARTF 002 BAHIA BROWN ENTRADA  Mejillón de Cultivo
2 2024-01-03         ARTF 002 PASO GUARANI      Cholga de Banco
3 2024-01-03          ARTF 002 PUNTA LAPIZ    Mejillón de Banco
4 2024-01-03    ARTF 002 BAHIA BROWN FONDO  Mejillón de Cultivo
5 2024-01-03           ARTF 002 BAJO BROWN      Cholga de Banco
6 2024-01-12         ARTF 001 PUNTA PARANA    Mejillón de Banco
7 2024-01-12  ARTF 002 BAHIA BROWN ENTRADA    Mejillón de Banco
8 2024-01-12         ARTF 002 PASO GUARANI      Cholga de Banco
9 2024-01-12          ARTF 002 PUNTA LAPIZ    Mejillón de Banco

  Tipo_de_Analisis Fecha_Inoculacion             Resultado  Resultado_cat
0              TPM        04/01/2024  N.D. (No Detectable)              0
1              TPM        04/01/2024           MENOR A 800              1
2              TPM        04/01/2024           MENOR A 800              1
3              TPM        04/01/2024  N.D. (No Detectable)              0
4              TPM        04/01/2024           MENOR A 800              1
5              TPM        04/01/2024           MENOR A 800              1
6              TPM        12/01/2024  N.D. (No Detectable)              0
7              TPM        12/01/2024           MENOR A 800              1
8              TPM        12/01/2024           MENOR A 800              1
9              TPM        12/01/2024           MENOR A 800              1

In [37]:
columnas_a_conservar = ["Fecha", "Zona_Clasificada", "Resultado_cat"]

df_relevantes_2024 = df_2024.copy()[columnas_a_conservar]
print(df_relevantes_2024.head())

       Fecha              Zona_Clasificada  Resultado_cat
0 2024-01-03         ARTF 001 PUNTA PARANA              0
1 2024-01-03  ARTF 002 BAHIA BROWN ENTRADA              1
2 2024-01-03         ARTF 002 PASO GUARANI              1
3 2024-01-03          ARTF 002 PUNTA LAPIZ              0
4 2024-01-03    ARTF 002 BAHIA BROWN FONDO              1

In [38]:
zonas_2024 = df_relevantes_2024.Zona_Clasificada.unique()
for zona in zonas_2024:
    print(F"La zona {np.where(zonas_2024 == zona)[0][0]} es: {zona}")

La zona 0 es: ARTF 001 PUNTA PARANA
La zona 1 es: ARTF 002 BAHIA BROWN ENTRADA
La zona 2 es: ARTF 002 PASO GUARANI
La zona 3 es: ARTF 002 PUNTA LAPIZ
La zona 4 es: ARTF 002 BAHIA BROWN FONDO
La zona 5 es: ARTF 002 BAJO BROWN
La zona 6 es: ARTF 002 BAHÍA BROWN ENTRADA
La zona 7 es: ARTF 002 PASO GUARANÍ
La zona 8 es: ARTF 002 PUNTA LÁPIZ
La zona 9 es: ARTF 002 BAHÍA BROWN FONDO
La zona 10 es: ARTF 001 PUNTA PARANÁ
La zona 11 es: ARTF 002 PUNTA PARANÁ
La zona 12 es: ARTF 002 BAHÍA BROWN BAJO
La zona 13 es: ARTF 002 BROWN BAJO
La zona 14 es: ARTF 002 BAHÍA BROWN ENTRADA (SUPERIOR)
La zona 15 es: ARTF 002 BAHÍA BROWN ENTRADA (MEDIO)
La zona 16 es: ARTF 002 BAHÍA BROWN ENTRADA (INFERIOR)

In [39]:
df_relevantes_2024["Zona_Clasificada"] = df_relevantes_2024["Zona_Clasificada"].replace({
                                                                zonas_2024[0]: zonas[0], zonas_2024[1]: zonas[4],
                                                                zonas_2024[2]: zonas[3], zonas_2024[3]: zonas[2],
                                                                zonas_2024[4]: zonas[5], zonas_2024[5]: zonas[1],
                                                                zonas_2024[6]: zonas[4], zonas_2024[7]: zonas[3],
                                                                zonas_2024[8]: zonas[2], zonas_2024[9]: zonas[5],
                                                                zonas_2024[10]: zonas[0], zonas_2024[11]: zonas[0],
                                                                zonas_2024[12]: zonas[1], zonas_2024[13]: zonas[1]})

In [40]:
zonas_2024 = df_relevantes_2024.Zona_Clasificada.unique()
for zona in zonas_2024:
    print(F"La zona {np.where(zonas_2024 == zona)[0][0]} es: {zona}")

La zona 0 es: ARTF 001 PUNTA PARANÁ
La zona 1 es: ARTF 002 BAHÍA BROWN ENTRADA
La zona 2 es: ARTF 002 PASO GUARANÍ
La zona 3 es: ARTF 002 PUNTA LÁPIZ
La zona 4 es: ARTF 002 BAHÍA BROWN FONDO
La zona 5 es: ARTF 002 BAJO BROWN
La zona 6 es: ARTF 002 BAHÍA BROWN ENTRADA (SUPERIOR)
La zona 7 es: ARTF 002 BAHÍA BROWN ENTRADA (MEDIO)
La zona 8 es: ARTF 002 BAHÍA BROWN ENTRADA (INFERIOR)

In [41]:
df_filtrado_2024 = df_relevantes_2024[df_relevantes_2024["Zona_Clasificada"].isin(zonas_interes)]

df_filtrado_2024.Zona_Clasificada.value_counts()

ARTF 002 BAHÍA BROWN ENTRADA    46
ARTF 002 BAJO BROWN             45
ARTF 002 BAHÍA BROWN FONDO      44
ARTF 002 PASO GUARANÍ           38
ARTF 002 PUNTA LÁPIZ            38
ARTF 001 PUNTA PARANÁ           34
Name: Zona_Clasificada, dtype: int64

In [42]:
df_filtrado_2024.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 245 entries, 0 to 247
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha             245 non-null    datetime64[ns]
 1   Zona_Clasificada  245 non-null    object
 2   Resultado_cat     245 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 7.7+ KB

In [43]:
df_unido = pd.concat([df_filtrado_2022, df_filtrado_2023,df_filtrado_2024])
df_unido.reset_index()
print(df_unido.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 735 entries, 0 to 247
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha             735 non-null    datetime64[ns]
 1   Zona_Clasificada  735 non-null    object
 2   Resultado_cat     735 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 23.0+ KB
None

In [44]:
df_unido.to_excel("limpio_unido.xlsx", index=False)