## Lectura e intregración de datos meteorológicos

**Importación de librerias**

In [1]:
import pandas as pd

**Lectura de ambos sets de datos (misma rango temporal distintas variables)**

In [2]:
df_1 = pd.read_csv("POWER LARC 1.csv")
df_1.head()

,YEAR,MO,DY,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DIFF,ALLSKY_KT,ALLSKY_SFC_LW_DWN,ALLSKY_SFC_PAR_TOT,...,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX,WS2M,T2M,T2MDEW,T2MWET,TS,T2M_RANGE,T2M_MAX
0,2020,12,1,6.5443,9.3271,8.3494,2.1929,0.55,6.6089,2.8886,...,0.3842,0.0118,2.61,6.89,4.44,-0.19,2.12,5.54,4.08,5.95
1,2020,12,2,6.2638,9.2885,3.6650,3.8426,0.53,6.6979,2.7876,...,0.3866,0.0137,3.33,6.51,3.77,0.41,2.09,5.13,6.43,7.66
2,2020,12,3,5.9146,9.3974,5.8627,2.6150,0.50,7.1105,2.6357,...,0.3634,0.0125,2.88,7.50,3.13,-0.50,1.32,4.92,4.72,5.39
3,2020,12,4,6.0523,9.0269,5.1036,2.6095,0.51,7.5158,2.7446,...,0.3763,0.0115,2.58,6.76,7.30,4.35,5.83,7.80,6.55,10.10
4,2020,12,5,3.6593,8.9218,0.4289,2.9256,0.31,8.0110,1.7506,...,0.2575,0.0077,1.66,5.93,10.22,7.24,8.73,9.80,5.12,12.82

In [3]:
df_2 = pd.read_csv("POWER LARC 2.csv")
df_2.head()

,YEAR,MO,DY,T2M_MIN,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WD10M,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,WD50M
0,2020,12,1,1.87,3.92,72.22,1.25,96.04,9.24,12.12,7.14,4.98,264.4,11.79,15.08,9.78,5.30,264.3
1,2020,12,2,1.23,4.07,79.06,3.10,96.56,8.68,11.29,6.93,4.36,264.8,10.91,14.25,8.25,6.00,263.9
2,2020,12,3,0.67,3.77,77.72,2.75,98.04,10.03,12.26,7.61,4.65,233.3,12.36,15.32,9.86,5.46,233.3
3,2020,12,4,3.55,5.29,81.91,0.54,98.64,9.15,11.55,5.79,5.76,258.0,11.80,14.14,8.99,5.15,258.3
4,2020,12,5,7.70,6.48,81.94,1.45,98.20,8.15,10.44,5.77,4.67,281.4,11.17,13.74,8.41,5.33,280.3

**Unión de ambos sets de datos**

In [4]:
df_unido = pd.merge(df_2, df_1, on=['YEAR', 'MO', 'DY'], how='inner')
df_unido.head()

,YEAR,MO,DY,T2M_MIN,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WS10M_MAX,...,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX,WS2M,T2M,T2MDEW,T2MWET,TS,T2M_RANGE,T2M_MAX
0,2020,12,1,1.87,3.92,72.22,1.25,96.04,9.24,12.12,...,0.3842,0.0118,2.61,6.89,4.44,-0.19,2.12,5.54,4.08,5.95
1,2020,12,2,1.23,4.07,79.06,3.10,96.56,8.68,11.29,...,0.3866,0.0137,3.33,6.51,3.77,0.41,2.09,5.13,6.43,7.66
2,2020,12,3,0.67,3.77,77.72,2.75,98.04,10.03,12.26,...,0.3634,0.0125,2.88,7.50,3.13,-0.50,1.32,4.92,4.72,5.39
3,2020,12,4,3.55,5.29,81.91,0.54,98.64,9.15,11.55,...,0.3763,0.0115,2.58,6.76,7.30,4.35,5.83,7.80,6.55,10.10
4,2020,12,5,7.70,6.48,81.94,1.45,98.20,8.15,10.44,...,0.2575,0.0077,1.66,5.93,10.22,7.24,8.73,9.80,5.12,12.82

**Tratamiento de las columnas de fechas para que sean compatibles a los datos de toxinas**

In [5]:
df_unido['Fecha'] = pd.to_datetime(
    df_unido[['YEAR', 'MO', 'DY']].rename(columns={'YEAR': 'year', 'MO': 'month', 'DY': 'day'})
)
df_unido.head()

,YEAR,MO,DY,T2M_MIN,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WS10M_MAX,...,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX,WS2M,T2M,T2MDEW,T2MWET,TS,T2M_RANGE,T2M_MAX,Fecha
0,2020,12,1,1.87,3.92,72.22,1.25,96.04,9.24,12.12,...,0.0118,2.61,6.89,4.44,-0.19,2.12,5.54,4.08,5.95,2020-12-01
1,2020,12,2,1.23,4.07,79.06,3.10,96.56,8.68,11.29,...,0.0137,3.33,6.51,3.77,0.41,2.09,5.13,6.43,7.66,2020-12-02
2,2020,12,3,0.67,3.77,77.72,2.75,98.04,10.03,12.26,...,0.0125,2.88,7.50,3.13,-0.50,1.32,4.92,4.72,5.39,2020-12-03
3,2020,12,4,3.55,5.29,81.91,0.54,98.64,9.15,11.55,...,0.0115,2.58,6.76,7.30,4.35,5.83,7.80,6.55,10.10,2020-12-04
4,2020,12,5,7.70,6.48,81.94,1.45,98.20,8.15,10.44,...,0.0077,1.66,5.93,10.22,7.24,8.73,9.80,5.12,12.82,2020-12-05

In [6]:
df_unido= df_unido.drop(columns=['YEAR', 'MO', 'DY'])

# Reordenar columnas, poniendo 'Fecha' al principio
columnas = ['Fecha'] + [col for col in df_unido.columns if col != 'Fecha']
df_unido = df_unido[columnas]
df_unido.head()

,Fecha,T2M_MIN,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,...,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX,WS2M,T2M,T2MDEW,T2MWET,TS,T2M_RANGE,T2M_MAX
0,2020-12-01,1.87,3.92,72.22,1.25,96.04,9.24,12.12,7.14,4.98,...,0.3842,0.0118,2.61,6.89,4.44,-0.19,2.12,5.54,4.08,5.95
1,2020-12-02,1.23,4.07,79.06,3.10,96.56,8.68,11.29,6.93,4.36,...,0.3866,0.0137,3.33,6.51,3.77,0.41,2.09,5.13,6.43,7.66
2,2020-12-03,0.67,3.77,77.72,2.75,98.04,10.03,12.26,7.61,4.65,...,0.3634,0.0125,2.88,7.50,3.13,-0.50,1.32,4.92,4.72,5.39
3,2020-12-04,3.55,5.29,81.91,0.54,98.64,9.15,11.55,5.79,5.76,...,0.3763,0.0115,2.58,6.76,7.30,4.35,5.83,7.80,6.55,10.10
4,2020-12-05,7.70,6.48,81.94,1.45,98.20,8.15,10.44,5.77,4.67,...,0.2575,0.0077,1.66,5.93,10.22,7.24,8.73,9.80,5.12,12.82

In [7]:
print("Calculando features de medias móviles...")

# Asegurarnos de que esté ordenado por fecha (crucial para .shift() y .rolling())
df_unido = df_unido.sort_values(by='Fecha')

# --- Definir variables y ventanas ---
# Usaremos 7 días (1 sem), 14 días (2 sem) y 30 días (1 mes)
ventanas = [7, 14, 30]

# Variables para medias (.mean())
vars_mean = [
    'T2M', 'T2M_MAX', 'T2M_MIN', # Temperatura
    'ALLSKY_SFC_PAR_TOT', 'ALLSKY_KT', # Radiación
    'WS2M' # Viento
]

# Variables para sumas (.sum())
vars_sum = [
    'PRECTOTCORR' # Precipitación
]

# --- Evitar Fuga de Datos (Data Leakage) ---
# Usamos .shift(1) para que los datos de un día (ej. 'Lunes')
# solo usen información *hasta* el día anterior ('Domingo').
# Esto es fundamental para que el modelo pueda predecir.

for v in ventanas:
    # Calcular Medias
    for var in vars_mean:
        col_name = f'{var}_MA_{v}d'
        df_unido[col_name] = df_unido[var].shift(1).rolling(window=v).mean()
        
    # Calcular Sumas
    for var in vars_sum:
        col_name = f'{var}_SUM_{v}d'
        df_unido[col_name] = df_unido[var].shift(1).rolling(window=v).sum()

# --- Manejo de NaNs ---
# Las primeras 'N' filas de cada nueva columna tendrán NaN (ej. los 1ros 6 días de MA_7d).
# Los rellenamos con el primer valor válido (bfill - backward fill).
# Esto solo afecta el inicio del dataset y es una práctica común.
print("Rellenando NaNs iniciales...")
df_unido = df_unido.bfill()

print("¡Features de medias móviles creadas!")
df_unido.head()

Calculando features de medias móviles...
Rellenando NaNs iniciales...
¡Features de medias móviles creadas!

,Fecha,T2M_MIN,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,...,ALLSKY_KT_MA_14d,WS2M_MA_14d,PRECTOTCORR_SUM_14d,T2M_MA_30d,T2M_MAX_MA_30d,T2M_MIN_MA_30d,ALLSKY_SFC_PAR_TOT_MA_30d,ALLSKY_KT_MA_30d,WS2M_MA_30d,PRECTOTCORR_SUM_30d
0,2020-12-01,1.87,3.92,72.22,1.25,96.04,9.24,12.12,7.14,4.98,...,0.442857,5.173571,32.94,7.475,10.619667,4.478667,2.417557,0.439667,5.379667,63.84
1,2020-12-02,1.23,4.07,79.06,3.10,96.56,8.68,11.29,6.93,4.36,...,0.442857,5.173571,32.94,7.475,10.619667,4.478667,2.417557,0.439667,5.379667,63.84
2,2020-12-03,0.67,3.77,77.72,2.75,98.04,10.03,12.26,7.61,4.65,...,0.442857,5.173571,32.94,7.475,10.619667,4.478667,2.417557,0.439667,5.379667,63.84
3,2020-12-04,3.55,5.29,81.91,0.54,98.64,9.15,11.55,5.79,5.76,...,0.442857,5.173571,32.94,7.475,10.619667,4.478667,2.417557,0.439667,5.379667,63.84
4,2020-12-05,7.70,6.48,81.94,1.45,98.20,8.15,10.44,5.77,4.67,...,0.442857,5.173571,32.94,7.475,10.619667,4.478667,2.417557,0.439667,5.379667,63.84

In [9]:
df_unido = df_unido[df_unido['Fecha'] >= '2021-01-01']
df_unido.head()

,Fecha,T2M_MIN,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,...,ALLSKY_KT_MA_14d,WS2M_MA_14d,PRECTOTCORR_SUM_14d,T2M_MA_30d,T2M_MAX_MA_30d,T2M_MIN_MA_30d,ALLSKY_SFC_PAR_TOT_MA_30d,ALLSKY_KT_MA_30d,WS2M_MA_30d,PRECTOTCORR_SUM_30d
31,2021-01-01,9.87,7.50,81.35,1.92,97.00,7.16,10.23,3.44,6.79,...,0.453571,4.992857,20.84,7.697333,10.917000,4.662,2.425767,0.440333,5.260667,64.36
32,2021-01-02,7.21,5.38,66.48,0.10,96.55,10.71,13.00,6.44,6.56,...,0.447857,5.071429,21.65,7.982667,11.158667,4.950,2.400390,0.434333,5.214000,63.18
33,2021-01-03,4.99,4.84,74.74,1.95,97.43,7.42,9.42,6.07,3.35,...,0.470714,5.375714,19.22,8.227333,11.424000,5.168,2.427117,0.439000,5.225000,60.53
34,2021-01-04,4.04,4.95,77.54,2.11,98.45,7.79,9.16,6.03,3.13,...,0.489286,5.286429,19.61,8.225333,11.403333,5.216,2.429877,0.439667,5.185000,61.94
35,2021-01-05,5.60,5.70,74.94,0.17,98.60,6.30,7.91,3.00,4.91,...,0.480000,5.231429,21.06,8.123000,11.311333,5.094,2.440747,0.442000,5.180667,62.60

**Exportación**

In [10]:
df_unido.to_csv('POWER_LARC_unido.csv', index=False)